body {
	margin: 0;
	padding: 0;
	color: #ccc;
	font-family: "Roboto";
}

* {
	overflow: hidden;
	user-select: none;
	box-sizing: border-box;
}

#divCode {
	top: 80%;
	width: 100%;
	left: 5vw;
	display: none;
	position: fixed;
	cursor: default;
}

#midCode {
	width: 498px;
	margin: 0 auto;
	border-radius: 4px;
}

#midCode div {
	float: left;
	color: #ccc;
	font-size: 12px;
	padding: 10px 15px;
	letter-spacing: 2px;
	background: rgba(31, 31, 31, 0.527);
	border-right: 1px solid rgba(20,20,20,.75);
	font-family: "Roboto";
}

#midCode div:hover {
	color: #ccc;
	background: #39188654;
}

#midCode div:last-child {
	border-right: 0;
}

#topRadar {
	right: 632px;
	width: 225px;
	bottom: 50px;
	display: none;
	font-size: 12px;
	text-align: right;
	line-height: 20px;
	padding: 10px 15px;
	position: absolute;
	border-radius: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 1px 1px #000;
	background: rgba(15,15,15,.75);
}

#botRadar {
	right: 387px;
	width: 225px;
	bottom: 50px;
	display: none;
	font-size: 12px;
	text-align: right;
	line-height: 20px;
	border-radius: 4px;
	padding: 10px 15px;
	position: absolute;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-shadow: 1px 1px #000;
	background: rgba(15,15,15,.75);
}

c {
	color: #929292;
	float: left;
}

v {
	width: 125px;
	float: right;
	white-space: nowrap;
	text-overflow: ellipsis;
}

legend {
	text-align: center;
	display: block;
	color: #4a380c;
	margin-top: 5px;
	font-size: 10px;
	letter-spacing: 2px;
	text-shadow: none;
	margin-bottom: 5px;
	background: #fec026;
	padding-right: 5px;
	border-radius: 4px;
}